
<!DOCTYPE html>
<html>
<head>
<title>Gym website template</title>
<link rel="stylesheet" type="text/css" href="/static/CSS/index.css">
<script src="/static/JS/reserveclass.js" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
<div class="navbar">
<h1>Portfolio</h1>
<ul>
<li>About</li>
<li>Service</li>
<li>Pricing</li>
<li>Contact</li>
</ul>
<button  style="margin-left:10px;Background-color:#e11;padding: 15px;border-radius: 2em;"><a class="clsass1" href="http://localhost:8000/">BACK</a></button>
</div>
<div class="table1" ><div style="padding:20px;padding-top:20px;background-color:beige;width:2200px;margin-top:-150px;margin-left:-195px;height:50px;"><h1 style="color:#e11 ;margin-left:170px;">TIME TABLE</h1></div><br><br>
    <p id="error">{{error}}</p>
    <table border="5" cellspacing="0" align="center">
        <!--<caption>Timetable</caption>-->
        <tr>
            <td align="center" height="60" 
                width="100"><br>
                <b>Day/Period</b></br>
            </td>
            <td align="center" height="60" 
                width="100">
                <b>I<br>8:00-9:15</b>
            </td>
            <td align="center" height="60" 
                width="100">
                <b>II<br>9:30-11:45</b>
            </td>
            <td align="center" height="60" 
                width="100">
                <b>III<br>12:00-13:15</b>
            </td>
           
            <td align="center" height="60" 
                width="100">
                <b>IV<br>13:00-14:15</b>
            </td>
          
        </tr>
        <tr>
            <td align="center" height="60">
                <b>Monday</b></td>
            <td id ="11" align="center" height="60">{{M10}}<br> {{M11}} cap:{{M12}}<br> </td>
            <td id ="12" align="center" height="60">{{M20}}<br> {{M21}} cap:{{M22}}<br> </td>
            <td id ="13" align="center" height="60">{{M30}}<br> {{M31}} cap:{{M32}}<br> </td>
            <td id ="14" align="center" height="60">{{M40}}<br> {{M41}} cap:{{M42}}<br> </td>
           
        </tr>
        <tr>
            <td align="center" height="60">
                <b>Tuesday</b>
            </td>        
            <td id ="21"  align="center" height="60">{{T10}}<br> {{T11}} cap:{{T12}}<br> </td>
            <td id ="22"  align="center" height="60">{{T20}}<br> {{T21}} cap:{{T22}}<br> </td>
            <td id ="23"  align="center" height="60">{{T30}}<br> {{T31}} cap:{{T32}}<br> </td>
            <td id ="24"  align="center" height="60">{{T40}}<br> {{T41}} cap:{{T42}}<br> </td>
           
        </tr>
        <tr>
            <td   align="center" height="60">
                <b>Wednesday</b>
            </td>
            <td  id ="31" align="center" height="60">{{W10}}<br> {{W11}} cap:{{W12}}<br> </td>
            <td  id ="32" align="center" height="60">{{W20}}<br> {{W21}} cap:{{W22}}<br> </td>
            <td  id ="33" align="center" height="60">{{W30}}<br> {{W31}} cap:{{W32}}<br> </td>
            <td  id ="34" align="center" height="60">{{W40}}<br> {{W41}} cap:{{W42}}<br> </td>
           
            </td>
        </tr>
        <tr>
            <td align="center" height="60">
                <b>Thursday</b>
            </td>
            <td id ="41"  align="center" height="60">{{R10}}<br> {{R11}} cap:{{R12}}<br> </td>
            <td  id ="42" align="center" height="60">{{R20}}<br> {{R21}} cap:{{R22}}<br> </td>
            <td  id ="43" align="center" height="60">{{R30}}<br> {{R31}} cap:{{R32}}<br> </td>
            <td id ="44"  align="center" height="60">{{R40}}<br> {{R41}} cap:{{R42}}<br> </td>
   
        </tr>
        <tr>
            <td   align="center" height="60">
                <b>Tuesday</b>
            </td>        
            <td  id ="51" align="center" height="60">{{F10}}<br> {{F11}} cap:{{F12}}<br> </td>
            <td id ="52"  align="center" height="60">{{F20}}<br> {{F21}} cap:{{F22}}<br> </td>
            <td  id ="53" align="center" height="60">{{F30}}<br> {{F31}} cap:{{F32}}<br> </td>
            <td  id ="54" align="center" height="60">{{F40}}<br> {{F41}} cap:{{F42}}<br> </td>
        </tr>
       
    </table>
<div style="padding:20px;padding-top:20px;background-color:beige;width:2200px;margin-top:30px;margin-left:-195px;height:50px;"><h1 style="color:#e11 ;margin-left:170px;"></h1></div>
</div>


<div class="footer-fluid" style="margin-top:-130px;">
<div class="footer">
    <p>Copyright 2021 - All Right Reserved - Made By Group 8 Team </p>
<div class="icon">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-whatsapp"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-google"></ion-icon>
    <ion-icon name="logo-youtube"></ion-icon>
</div>
</div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>


 

